
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preprocessing App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Preprocessing App</h1>
    <form action="/preprocess" method="post" enctype="multipart/form-data">
        <label for="dataset_path">Dataset Path:</label>
        <input type="file" name="dataset_path" accept=".csv" required><br>

        <label for="missing_option">Missing Values Handling:</label>
        <select name="missing_option" id="missing_option">
            <option value="1">Mean Imputation</option>
            <option value="2">Median Imputation</option>
            <option value="3">Custom Value Imputation</option>
            <option value="4">Most Frequent Imputation</option>
            <option value="5">KNN Imputation</option>
            <option value="6">Linear Regression Imputation</option>
            <option value="7">Iterative Imputation</option>
            <option value="8">Multiple Imputation by Chained Equations (MICE)</option>
            <option value="9">Autoencoder Imputation</option>
        </select>
        <input type="number" name="missing_number" placeholder="Enter number" required><br>

       
        <label for="categorical_option">Categorical Encoding:</label>
        <select name="categorical_option" id="categorical_option">
            <option value="1">One-Hot Encoding</option>
            <option value="2">Label Encoding</option>
            <option value="3">Target Encoding</option>
            <option value="4">Helmert Coding</option>
            <option value="5">Sum Coding</option>
            <option value="6">Backward Difference Coding</option>
            <option value="7">Leave-One-Out Encoding</option>
            <option value="8">James-Stein Encoder</option>
            <option value="9">Binary Encoding</option>
        </select>
        <input type="number" name="categorical_number" placeholder="Enter number" required><br>

        <label for="scaling_option">Feature Scaling:</label>
        <select name="scaling_option" id="scaling_option">
            <option value="1">Standard Scaling (Z-score)</option>
            <option value="2">Min-Max Scaling</option>
            <option value="3">Robust Scaling</option>
            <option value="4">Power Transformation (Yeo-Johnson)</option>
            <option value="5">Quantile Transformation</option>
            <option value="6">MaxAbsScaler</option>
            <option value="7">Normalizer</option>
        </select>
        <input type="number" name="scaling_number" placeholder="Enter number" required><br>

        <input type="submit" value="Preprocess">
    </form>
</body>
</html>
