<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Demand Forecasting</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost&family=Libre+Baskerville&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Css/kafka.css">
</head>

<body>
    <div>
        <a href="{{ url_for('home') }}">
        <h1>Food Demand Forecasting</h1>
        </a>
    </div>
    <div>
        <form method="POST">
            <label for="kafka_topic_name">Kafka Topic Name</label>
            <input class="third-input" name="kafka_topic_name" type="text" id="kafka_topic_name" placeholder="bigd">
    
            <label for="ml_type">ML Type</label>
            <select class="third-sel" name="ml_type" id="selecting_ml_type">
                {% for ml_type in ml_options %}
                    <option value="{{ ml_type }}">{{ ml_type }}</option>
                {% endfor %}
            </select>
    
            <label for="kafka_connection_url">Kafka Connection Url</label>
            <input class="third-input" type="text" name="kafka_connection_url" id="kafka_connection_url" placeholder="localhost:9092">
            
            <input class = "second-button" type="submit" value="Next">
        </form>
    
        <script>
            {% if msg %}
                alert("{{ msg }}");
            {% endif %}
        </script>
    </div>
    <script>
        function make_visible() {
            var x = document.getElementById("hidden-opts");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>

</html>
